<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>This is a message from <%= @name %>, by way of the contact page on your portfolio website!</h1>
    <p>
      Their message is: <%= @message %>
    </p>
    <p>
      Their email is: <%= @email %>
    </p>
  </body>
</html>
